*,
*:before,
*:after {
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    width: 100%;
    height: auto;

    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

input[type="text"] {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

h1 {
    display: block;
    font-size: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
}

h2 {
    display: block;
    font-size: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
}

h3 {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px
}

h4 {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;


}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.promo {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    color: #2E2E2E;
}

.paragraph-large {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.description {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
}

.description_large {
    font-size: 17px;
    line-height: 25px;
}

.description_small {
    font-size: 14px;
    line-height: 20px;
}

.description_tiny {
    font-size: 12px;
    line-height: 16px;
}

.menu {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

/*Color styles*/

.color_accent {
    background: #DD783F;
}

.color_primary {
    background: #2E2E2E
}

.text_default {
    color: #2E2E2E;
}

.text_subdued {
    color: #7a7a7a;
}

.text_description {
    color: #999999;
}

.text_oncolor_default {
    color: #ffffff;
}

/* Header*/
.header {
    width: 100%;
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.header-container {
    max-width: 1180px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-size: 26px;
    line-height: 26px;
    color: #ffffff;
    font-family: "Lora", serif;
    font-style: normal;
}

.header-title {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    width: 41px;
    height: 17px;
}

.header_menu {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar_default {
    background: #DD783F;
    text-decoration: none;
    color: #FFFFFF;
}

.logout {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout_icon {
    width: 24px;
    height: 24px;
}

.main {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F7F7F7;
}

.post_header {
    max-width: 1180px;
    width: 100%;
    max-height: 68px;
    display: flex;
    justify-content: space-between;

}

.post_subtittle {
    margin-top: 8px;

    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.publish-button {
    width: 100px;
    height: 48px;
    padding: 12px 24px;
    text-transform: capitalize;
    color: #ffffff;
    background: #DD783F;
    border: none;
    border-radius: 3px;
    align-self: center;
}

.post {
    max-width: 1180px;
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1180px;
}

.post__status {
    width: 100%;
    height: 44px;
    margin-top: 16px;
    padding-left: 14px;
    display: flex;
    align-items: center;
    color: #2E2E2E;
    font-size: 14px;
    line-height: 20px;
}

.status__error {
    background: #FFEBEA;
    border-left: 2px solid #E86961;
    border-radius: 5px;
}

.status__error::before {
    margin-right: 10px;
    content: '';
    background-image: url("/static/img/alert-circle.png");
    background-size: cover;
    height: 24px;
    width: 24px;
}

.status__error_hide {
    display: none;
}

.status__success {
    background: #E6FCEF;
    border-left: 2px solid #67C48C;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.status__success::before {
    margin-right: 10px;
    content: '';
    background-image: url("/static/img/check-circle.png");
    background-size: cover;
    height: 24px;
    width: 24px;
}

.status__success_hide {
    display: none;
}

.content {
    margin-top: 16px;
    width: 100%;
    padding: 40px 40px 56px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px -10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.content__title {
    margin-bottom: 40px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
}

.content__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form {
    max-width: 560px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form__item {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.form__item:first-child {
    margin-top: 0;
}

.form__description {
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #7a7a7a;
}

.form__required {
    margin-top: 12px;
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #999999
}

.form__required_cri tical {
    margin-top: 12px;
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #E86961
}

.form__required_hi de {
    display: none;
}

.field__description {
    margin-top: 12px;
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #999999
}

.field__description_hi de {
    display: none;
}



.form__field {
    margin-top: 5px;
    width: 100%;
    height: 40px;
    padding: 8px 4px;
    background: #F7F7F7;
    border-bottom: 1px solid #2E2E2E;
    border-radius: 5px 5px 0px 0px;
}

.form__field_author {
    background: #FFFFFF;
    border-bottom: 1px solid #EAEAEA;
}

.form__field_crit ical {
    border-bottom: 1px solid #E86961;
}

.form__field_publish-date {
    padding: 8px 48px 8px 4px;
}

.author-image {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.author-image__preview {
    margin-right: 16px;
    width: 48px;
    height: 48px;
    background: url("/static/img/camera.png") #F7F7F7 no-repeat center;
    border-radius: 50%;
    border: 1px dashed #D3D3D3;
}

.author-image__preview-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.upload__image {
    display: none;
}

.form__image-upload {
    margin-right: 16px;
    display: flex;
    cursor: pointer;
}

.upload__image-button-text {
    display: block;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #2E2E2E;
}

.remove__image-button-text {
    display: block;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #E86961;
}


.form__menu {
    display: flex;
}

.form__menu_hide {
    display: none;
}

.form__image-upload-new {
    margin-right: 16px;
    display: flex;
    cursor: pointer;
}

.form__image-remove {
    display: flex;
    cursor: pointer;
}

.form__image-upload-new::before {
    content: '';
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background-image: url("/static/img/camera.png");
    background-size: cover;
}

.form__image-remove::before {
    content: '';
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background-image: url("/static/img/trash-2.png");
    background-size: cover;
}

.form__field-post-image {
    position: relative;
    width: 100%;
    height: 160px;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__field-post-image-empty {
    border: 1px dashed #D3D3D3;
    border-radius: 6px;
}

.form__field-image-empty {
    border: 1px dashed #D3D3D3;
    border-radius: 6px;
}

.form__field-image-with-image {
    border: 1px solid #EAEAEA;
    border-radius: 5px;
}

.after-field {
    margin-top: 12px;
}


.form__field-post-card {
    max-width: 296px;
    width: 100%;
    height: 150px;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Preview */
.preview {
    max-width: 440px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.preview__section {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.preview__section:first-child {
    margin-top: 0;
}

.preview__title {
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7A7A7A;
    margin-bottom: 16px;
}

.preview__window {
    width: 100%;
    padding: 32px 16px 0;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
}

.preview__window_page {
    border-radius: 30px 30px 0px 0px;
}

.preview__page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
}

.preview__page-menu {
    width: 100%;
    height: 23px;
    padding-left: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #EAEAEA;
}

.ellipse {
    margin-left: 3px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #D9D9D9;
}

.preview__page-article {
    max-width: 100%;
    margin-top: 36px;
    margin-bottom: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview__page-title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 20.4px;
    line-height: 24px;
    color: #2E2E2E;
}

.preview__page-subtitle {
    margin-top: 4px;
    margin-bottom: 36px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 10.2px;
    line-height: 12px;
    text-align: center;
    color: rgba(46, 46, 46, 0.63);
}

.preview__page-image {
    width: 100%;
    height: 160px;
    background: #F7F7F7;
}

.preview_image {
    width: 100%;
    height: 100%;
}

.preview_image_hide {
    display: none;
}

.preview__gradient-horizontal {
    width: 100%;
    height: 72px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}

.preview__gradient-vertical {
    position: absolute;
    width: 119px;
    height: 100%;
    right: 0;
    top: 0;

    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 84.72%);
}

/*Preview post-card*/

.preview__window_post-card {
    border-radius: 10px 0px 0px 0px;
}


.preview__post-card {
    margin-bottom: 37px;
    width: 296px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
}

.preview__post-card-image {
    width: 100%;
    height: 150px;
    justify-self: center;
    background: #F7F7F7 no-repeat center / cover;
    border-bottom: #E5E5E5 solid 1px;
}

.preview__post-card-title {
    padding: 14px 13px 0;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    line-height: 21px;
    color: #101315;
}

.preview__post-card-subtitle {
    padding: 7px 13px 30px;

    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
    border-bottom: #E5E5E5 solid 1px;
}

.preview__post-card-info {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 13px;
    height: 48px;
    background: #FCFCFC;
}

.preview__post-card-author-avatar {
    align-self: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.preview__post-card-author {
    margin-left: 10px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
}

.preview__post-card-time {
    margin-left: auto;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    text-align: right;
    color: #999999;
}

/*Content*/

.form__content {
    max-width: 940px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form__field_content {
    margin-top: 5px;
    max-width: 940px;
    width: 100%;
    height: 160px;
    display: flex;


    /* Background/Default */

    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
}

.form__field_content::placeholder {
    color: #999999;
}

.form__field_content::content {
    color: #2E2E2E;
}