html {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

h1,
h2 {
    display: block;
    font-size: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

input[type="text"] {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}


.body {
    width: 100%;
    height: 100%;
    padding: 0 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(0deg, rgba(66, 70, 73, 0.4), rgba(66, 70, 73, 0.4)), url('/static/img/admin/background_login.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*  Header  */

.header {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.logo__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 45.5px;
    line-height: 46px;
    /* identical to box height, or 100% */
    color: #FFFFFF;
}

.logo__subtitle {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 24.5px;
    line-height: 31px;
    /* identical to box height */
    color: #FFFFFF;
}

.header__subtitle {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    /* identical to box height */
    color: #FFFFFF;
}

/*  Form  */

.form {
    width: 480px;
    height: 560px;
    padding: 56px 40px;
    background: #FFFFFF;
    border-radius: 3px;
}

.form__title {
    margin-bottom: 10px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    /* identical to box height, or 118% */
    color: #000000;
}

.form__status {
    display: flex;
    padding-left: 14px;

    align-items: center;

    height: 44px;

    /* Background/Critical */

    color: #2E2E2E;
    font-size: 14px;
    line-height: 20px;
}

/* Status/Critical */
.status__error {
    background: #FFEBEA;
    border-left: 2px solid #E86961;
    border-radius: 5px;
}

.status__error::before {
    margin-right: 10px;
    content: '';
    background-image: url("/static/img/admin/alert-circle.png");
    background-size: cover;
    height: 24px;
    width: 24px;
}

.status__error_hide {
    display: none;
}

.form__item {
    margin-top: 40px;
    position: relative;
}

.form__description {
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    color: #7A7A7A;
}

.form__field {
    outline: none;
    margin-top: 5px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #2E2E2E;
    width: 100%;
    height: 40px;
    padding: 8px 4px;
    border-radius: 5px 5px 0px 0px;
}

.form__field_full {
    background: #F7F7F7;
    border-bottom: 1px solid #2E2E2E;
}

.form__field_empty {
    background: #FFFFFF;
    border-bottom: 1px solid #EAEAEA;
}

.form__field_critical {
    border-bottom: 1px solid #E86961;
}

.form__togle {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 33px;
    right: 5px;
    cursor: pointer;
}



.form__required {
    margin-top: 5px;
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
    /* identical to box height, or 133% */
}

.form__required_critical {
    color: #E86961
}

.form__required_hide {
    display: none;
}




.form__button {
    padding: 12px 24px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #DD783F;
    /* identical to box height, or 150% */

    text-transform: capitalize;

    border: 0;
    border-radius: 3px;
    cursor: pointer;
}